<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/admin.css}" rel="stylesheet" />
    <!-- <link href="../static/styles/main.css" rel="stylesheet" /> -->
    <title>administracion</title>

</head>

<body>
    <div class = "topBar">
        <h1>Bienvenido al panel de administración</h1>
    </div>


    <div class = "DBBox">
        <h2>Acceso a Bases de Datos</h2><br>
        <a th:href="@{medicamentosDB}" class="btnDB">Medicamentos</a>
        <a th:href="@{enfermedadesDB}" class="btnDB">Enfermedades</a>
        <a th:href="@{prodNatDB}" class="btnDB">Productos naturales</a>
    </div>

    <button class ="botonActBD" style="width: 150px; height: 40px; position: relative; right: 6px;" onclick="uploadBox()">ActualizarBD</button>

    <a th:href="@{/}" class = "btnDB" style="width: 60px;" >Volver</a>    

    <div class="uploadBox" id="upBox" style="display: none;">
        <p>¿Seguro que desea actualizar toda la base de datos?</p>
        <p>Advertencia: es un proceso que llevar&aacute mucho tiempo</p>

        <button onclick="uploadAllDB()">Confirmar</button>
        <button onclick="closeUpBox()">Cancelar</button>
    </div>
 
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>

</body>

</html>