<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
    <title>menu</title>
  </head>

  <body>
    <div class="topBar">
      <h1>Bienvenido al gestor de la Base de Datos</h1>
    </div>

    <div class="introBox">
      <h2>Seleccione la acción que desea realizar</h2>
      <br />
      <a th:href="@{solicitud}" class="btnDB">Solicitud</a>
      <a th:href="@{administracion}" class="btnDB">Administración</a>
    </div>

    <a th:href="@{login}" class="btnDB">Cerrar sesi&oacute;n</a>
  </body>
</html>
