<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
    <title>menu</title>
  </head>

  <body>
    <div class="topBar">
      <h1>Bienvenido al login del gestor de la Base de Datos</h1>
    </div>

    <div class="introBox">
      <h2>Introduzca sus credenciales</h2>
      <br />

      <p>Nombre:</p>
      <input id="nameInput" type="text" style="width: 150px" />
      <p>Contrase&ntilde;a</p>
      <input id="passwordInput" type="password" style="width: 150px" />
      <p id="ErrorText" style="color: red"></p>
      <button onclick="loginData()">Enviar</button>
    </div>

    <div class="introBox" id="logBox" style="display: none">
      <p>Usuario y contrase&ntilde;a correctos</p>
      <a th:href="@{/}" class="btnDB">Acceder</a>
    </div>

    <script type="text/javascript" th:src="@{/js/login.js}"></script>
  </body>
</html>
