<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/DBProdNat.css}" rel="stylesheet" />
    <title>Productos</title>
    <style>
        .editBox {
            position: absolute;
            top: 250px;
            width: 200px;
            height: 150px;
            background-color: khaki;
            border-radius: 25px;
            padding: 20px;
        }
    </style>
</head>

<body>
    <div class="topBar">
        <h1>Base de datos: productos naturales</h1>
    </div>

    <a th:href="@{administracion}" class="btnDB" style="width: 60px;">Volver</a>

    <div class="searchBox">
        <input id="buscador" type="text" placeholder="Buscar" onkeyup="busqueda()" />
    </div>

    <table id="tabla1" cellpadding=10>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Idioma</th>
            <th>Fecha Actualización</th>
            <th>Freq Actualización (días)</th>
            <th>Acción</th>
        </tr>
        <tr th:each="prod,iterStat : ${prodNat}">
            <td th:text="${prod.nombre}"></td>
            <td>producto natural</td>
            <td th:text="${prod.idioma}"></td>
            <td th:text="${prod.dateNextUpdate}"></td>
            <td th:text="${prod.frecUpdateHours}"></td>
            <td>
                <button class="btnEditar" th:attr="onclick=|upload('${prod.nombre}','${prod.idioma}')|">Editar</button>
                <button class="btnBorrar" th:attr="onclick=|borrar('${prod.nombre}','${prod.idioma}','${iterStat.index + 1}', 'ProdNat')|">Borrar</button>
                <button class="btnActualizar" th:attr="onclick=|actualizar('${prod.nombre}','${prod.idioma}','${prod.frecUpdateHours}', '${prod.dateNextUpdate}','ProdNat')|">Actualizar</button>
            </td>

        </tr>

    </table>

    <div id="mySidenav" class="sidenav">
        <a th:href="@{medicamentosDB}" id="meds">Medicamentos</a>
        <a th:href="@{prodNatDB}" id="prods">Productos</a>
        <a th:href="@{enfermedadesDB}" id="enfs">Enfermedades</a>
    </div>

    <div id="eraseBox" style="display: none;">
        <p id="eraseText"></p>
        <div style="flex-direction: row; padding: 10px;">
            <button onclick="confirmErase()">Confirmar</button>
            <button onclick="cancelErase()">Cancelar</button>
        </div>
    </div>

    <div class="editBox" id="editBox1" style="display: none;">
        <p id="textoEdit">Inserte la nueva frecuencia de actualización de:<br></p>
        <input id="hoursInput" type="text" style="width:30px">
        días
        <br>
        <br>
        <button id="botonEnviarFrec" style="margin-left: 20px; width: 70px;" onclick="sendEdit('ProdNat')">Enviar</button>
        <button id="botonCerrarEnvio" style="margin-left: 20px; width: 70px;" onclick="closeEdit()">Cancelar</button>
    </div>

    <div class="editDate" id="dateBox" style="display: none;">
        <p id = "dateText"></p>
        <input type="date" id="dateInput">
        <button style="margin-right: 20px; margin-left: 20px; margin-top: 13px;" onclick="sendDate('ProdNat')">Enviar</button>
        <button onclick="removeDateBox()" style="margin-top: 13px;">Cancelar</button>
    </div>

    <div class = "selectEditBox" id= "selEdBox" style="display: none;">
        <p>Desea editar la frecuencia de actualizaci&oacute;n o la fecha de actualizaci&oacute;n</p>
        <button onclick="showFrec()">Frecuencia</button>
        <button onclick="showDate()">Fecha</button>
    </div>


    <div id ="actualizarBox" class="actBox" style="display: none;">
        <p id = "actualizarName"></p>
        <br>
        <button onclick="removeActBox()" style="position: relative; left: 55px; width: 70px; height: 30px;">Cerrar</button>
    </div>

    <div id="secretBox" style="display: none;">
        <p id="nameEditAux"></p>
        <p id="languageEditAux"></p>
        <p id="hoursEditAux"></p>
        <p id="indexEditAux"></p>
        <p id="nameEraseAux"></p>
        <p id="languageEraseAux"></p>
        <p id="hoursEraseAux"></p>
        <p id="indexEraseAux"></p>
        <p id="typeEraseAux"></p>
        <p id="textoConfirma" style="color: white;"></p>
    </div>

    <script type="text/javascript" th:src="@{/js/DB.js}"></script>
</body>

</html>