<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/admin.css}" rel="stylesheet" />
    <!-- <link href="../static/styles/main.css" rel="stylesheet" /> -->
    <title>Solicitud</title>
</head>
<body>
<div class = "topBar">
    <h2 style="color:white">Producto insertado correctamente en la BBDD</h2>
</div>
<div>
    <div class = "DBBox">
    <p><strong>Nombre:</strong> <span th:text="${solicitud.nombre}"></span></p>
    <p><strong>Tipo:</strong> <span th:text="${solicitud.tipo}"></span></p>
    <p><strong>Idioma:</strong> <span th:text="${solicitud.idioma}"></span></p>
        &nbsp;&nbsp;

        <a class="btn btnDB" th:href="@{/solicitud}">Insertar nuevo producto </a>
    </div>
</div>


</body>
</html>