<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/admin.css}" rel="stylesheet" />
    <!-- <link href="../static/styles/main.css" rel="stylesheet" /> -->
    <title>Solicitud</title>
</head>
<body>
    <div class = "topBar">
        <h1>Solicitud de inserción de un nuevo producto</h1>
    </div>
<br>
    <form th:object="${solicitud}" th:action="@{/solicitud}" method="post">
        <div class = "DBBox">
        <div class="form-group">
            <label for="nombre">Nombre del producto</label>
            &nbsp;
            <input th:field="*{nombre}" id="nombre" placeholder="Escribe el nombre del producto" type="text" required minlength="1"
                   class="form-control">
        </div>
            <br>
        <div class="form-group">
            <label for="tipo">Tipo</label>
            &nbsp;
            <select th:field="*{tipo}" id="tipo" type="text"
            class="form-control">
                <option th:value ="medicamento">medicamento</option>
                <option th:value ="enfermedad">enfermedad</option>
                <option th:value ="prodNat">producto natural</option>
              </select>
        </div>
            <br>
        <div class="form-group">
            <label for="idioma">Idioma</label>
            &nbsp;
            <select th:field="*{idioma}" id="idioma" type="text"
                   class="form-control">
                   <option th:value ="spanish">Español</option>
                   <option th:value ="english">Inglés</option>
            </select>
        </div>
        <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btnDB" type="submit" th:href="@{/resultadoSolicitud}">Guardar </button>
        </div>

        <a th:href="@{@{index?user=access&key=authorized}}" class = "btnDB" style="width: 60px; position: relative; top: 30px; left: 140px;">Volver</a>
       <!-- &nbsp;<a class="btn btn-warning" th:href="@{/productos/mostrar}">Ver todos</a> -->
    </form>

    <!-- <script type="text/javascript" th:src="@{/js/solicitud.js}"></script>  -->
    <!-- <script type="text/javascript" src="../static/js/solicitud.js"></script> -->

</body>
</html>