body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background: url("image.jpg") center top;
    background-size: cover;
    background-blend-mode: soft-light;
    
  }

.btnDB {
    margin-right: 20px;
    align-items: center;
    text-align: center;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    background-color: #63b8ee;
    border-radius: 6px;
    border: 1px solid #3866a3;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7cacde;
    flex-direction: row;
    width: 150px;
    
    
}

.btnDB:hover {
    background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    background-color: #468ccf;
}

.btnDB:active {
    position: relative;
    top: 1px;
}

.DBBox{
    font-family: Arial;
    border: 1px solid white;
    background: white;
    border-radius: 25px;
    padding: 20px; 
}

h2{
    color: #14396a;
}

.topBar{
    text-align: center;
    background-color: blue;
    width: 100%;
    color: white;
}

.uploadBox{
    position: absolute;
    top: 250px;
    width: 200px;
    height: 170px;
    background-color: khaki;
    border-radius: 25px;
    padding: 20px;
  }
