body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background: url("prodNat.jpg") center top;
  background-size: cover;
  background-blend-mode: soft-light;
}

td {
  border:1px solid;
  text-align: center;
}

th {
  border:1px solid;
  font-size: 150%;
  background-color: #00557F;
  color: white;
  text-align: center;
}

table{
  border-collapse: collapse;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #E1EEf4;
}

tr:nth-child(odd) {
  background-color:white;
}

.btnBorrar{
  background-color: lightcoral;
  width: 50px;
}

.btnEditar{
  background-color: lightblue;
  width: 50px;
}

.btnActualizar{
  background-color: lightgreen;
  width: 75px;
}

.topBar{
  text-align: center;
  background-color: #00557F;
  width: 100%;
  color: white;
}

.editBox{
  position: absolute;
  top: 250px;
  width: 200px;
  height: 120px;
  background-color: khaki;
  border-radius: 25px;
  padding: 20px;
}

.actBox{
  position: absolute;
  top: 250px;
  width: 200px;
  height: 110px;
  background-color: khaki;
  border-radius: 25px;
  padding: 20px;
}

.btnDB {
  margin-right: 20px;
  align-items: center;
  text-align: center;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;
  border-radius: 6px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
  flex-direction: row;
  width: 150px;
  
  
}

.btnDB:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}

.btnDB:active {
  position: relative;
  top: 1px;
}

#mySidenav a {
  position: absolute;
  left: -140px;
  transition: 0.3s;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}
 
#mySidenav a:hover {
  left: 0;
}

#meds {
  top: 110px;
  background-color: #275420;
}

#meds {
  top: 110px;
  background-color: LimeGreen;
  }
  
  #prods {
  top: 170px;
  background-color: #1E90FF;
  }
  
  #enfs {
  top: 230px;
  background-color: #FF0000;
  }

#eraseBox{
  position: absolute;
  top: 250px;
  border-radius: 25px;
  padding: 20px;
  height: 130px;
  width: 200px;
  background-color: lightcoral;
}

.editDate{
  position: absolute;
  top: 250px;
  width: 200px;
  height: 150px;
  background-color: khaki;
  border-radius: 25px;
  padding: 20px;
}
.selectEditBox{

  position: absolute;
  top: 250px;
  width: 200px;
  height: 120px;
  background-color: khaki;
  border-radius: 25px;
  padding: 20px;

}